body{
    background-color: #17242a;
    margin: 0;
}

.full-page{
    height: 100vh;
    width: 100vw;
    margin: 0;
    box-sizing: border-box;
}

.flex-container-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.title{
    height: 20%;
    font-size: 4rem;
    font-family: 'Lobster', cursive;
    color: #f2f1e9;
    opacity: 0;

    animation-name: float-up;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

#create{
    font-size: 12pt;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    height: 60px;
    padding:  0 30px;
    background-color: #ff9a31;
    box-shadow: #ff9a31 0px 0px 10px 0px;
    border-radius: 30px;
    border: 0;
}

#create:hover, #create:focus{
    animation-name: color_change;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}


.card{
    width: 60%;
    height: 65%;
    background-color: #f2f1e9;
    border: gray 2px;
    border-radius: 5px;
    box-shadow: #74736d 2px 3px 10px 0px;

    animation-name: float-up;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
}

#controlBar{
    width:60%;
    height: 15%;
}

#date{
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #0b123b;
}

.card-flex-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.divideLine{
    width: 100%;
    height: 2px;
    background-color: #aeaaac;

}

#homeButton{
    font-size: 1.5rem;
}

#back{
    background-image: url("../res/back.png");
}

#forward{
    background-image: url("../res/forward.png");
}

.myButton{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 48px;
    width: 48px;
}

.myButton:hover{
    transform: scale(1.2);
}


@keyframes float-up {
    0% {
        opacity: 0;
        transform: translate3d(0,10px,0);
    }
    75% {
        opacity: 0;
        transform: translate3d(0,10px,0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

@keyframes color_change {
    0%{

    }
    100%{
        box-shadow: #ff9a31 0px 0px 30px 0px;
    }
}

@keyframes choose_journal {
    0%{

    }
    100%{
        box-shadow: #f2f1e9 0px 0px 30px 0px;
    }
}

.journal{
    height: 200px;
    width: 180px;
    border-radius: 5px;
    margin: 10% 15px;
    background-color: #6bbfd1;
}

.journal:hover{
    animation-name: choose_journal;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.journal-flex-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.journal-binding-side{
    background-color: #517b8f;
    height: 100%;
    width: 10%;
}

.journal-title{
    margin: 30% auto auto;
    padding: 5px;
    border-radius: 5px;
    height: max-content;
    width: min-content;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}
